@{
    ViewData["Title"] = " VOLKSWAGEN";
}

    <head>
        <style>
           
            body {
                background-image: url(https://images.unsplash.com/photo-1557215121-f6da31003be7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            .btn1 {
                display: block;
                font-weight: 800;
                position: relative;
                top: 50px;
                left: 50px;
                color: black;
                text-align: center;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                user-select: none;
                background: rgba(105, 47, 47, 0.8);
                border: 2px solid transparent;
                padding: 0.75rem 0.75rem;
                margin-top: 40px;
                margin-bottom: 40px;
                margin-left: 40px;
                margin-right: 40px;
                font-size: 2rem;
                line-height: 1.8;
                border-radius: 3rem;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }

            .text-center {
                text-align: center !important;
                color: white;
                font-family: Brush Script MT;
                font-size: 10px;
                font-weight: 800;

            }
            .text1 {
                text-align: center !important;
                color: white;
                font-family: Brush Script MT;
                font-size: 10px;
                font-weight: 800;
            }
            .text-center1 {
                text-align: center !important;
                color: black;
                font-family: Brush Script MT,URW Chancery L cursive;
                background: rgba(167, 143, 143, 0.50);
                line-height: 3;
                border-radius: 3rem;
            }
            .display-4 {
               
                font-size: 6 rem;
                font-weight: 400;
                line-height: 3;
                font-family: Brush Script MT
            }
        </style>
    </head>

    <body>
        <div class="text-center1">
            <h1 class="display-4" >
                <b>
                    VOLKSWAGEN
                </b>
            </h1>
        </div>
        
        <div>
            <form style="float: left;">
                <a asp-action="ModelCars" class="btn1">CAR MODELS</a>
            </form>
            <form style="float: left;">
                <div >
                    <a asp-action="BodyTypes" class="btn1">BODY TYPES</a>
                </div>
            </form>
            <form style="float: left;">
                <a asp-action="PriceCategories" class="btn1">PRICE CATEGORIES</a>
            </form>
            <form style="float: left;">
                <a asp-action="Engines" class="btn1">ENGINES</a>
            </form>

            <div>
                <form style="float: left;">
                    <a asp-action="YearOfIssues" class="btn1">YEARS OF ISSUES</a>
                </form>
            </div>
        </div>
    </body>